{% extends 'base.html.twig' %}

{% block title %}Commandes de {{ user.lastName }} {{ user.firstName }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="card">


        </div>
    </div>
{% endblock %}
